video{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
#principal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style-type: none;
    margin: 20px;
    border-radius: 20%;
    color: white;
}
#secundario{
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 5px;
}
#foto1{
    margin: 3px;
    border-radius: 100%;
}